.ta-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
}
.ta-article-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 140px;
}
.ta-article-cont{
    font-size: 15px;
    width: 60%;
    height:105px;
}
.ta-article-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.ta-article-body:hover{
    cursor: pointer;
}
.ta-article-user{
    margin-bottom: 5px;
}
.ta-article-readmore-div{
    width:100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
}

.ta-article-image-cont{
    width: 40%;
    height: 105px;
}
.ta-article-image-div{
    width:100%;
}
.ta-article-image{
    width: 90%;
    height: 60%;
}

@media only screen and (max-width: 650px){
    .ta-container{
        width:95%;
    }
}
@media only screen and (max-width: 500px){
    .ta-article-image-cont{
        display: none;
    }
    .ta-article-container{
        align-items: center;
        justify-content: center;
        max-height: 100px;
    }
    .ta-article-cont{
        padding-left: 15px;
    }   
}