.navbar-container{
    width: 97%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.navbar-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-buttons-container{
    width: 50%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    font-size: 15px;
    
}
.navbar-buttons-div{
    width:85%;
    max-width: 330px;
    padding-right: 25px;
    align-items: center;
    justify-content:space-evenly;
    font-size: 15px;
    float: right;
}
.navbar-button-label{
    font-size: 12px;
}
.navbar-sidedrawer{
    display: none;
}

@media only screen and (max-width: 660px){
    .navbar-buttons-container{
        width: 15%;
    }
    .navbar-sidedrawer{
        display: block;
        padding-right: 10px;
    }
    .navbar-buttons-div{
        display: none;
    }
    .navbar-info h2{
        font-size: 18px;
    }

}